#first {
    background-image: url("firsthw/pond1.jpg");
    min-height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#second {
    background-image: url("firsthw/pond2.jpg");
    min-height: 700px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#third {
    background-image: url("firsthw/pond3.png");
    min-height: 650px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


#first .row {
    min-height: 600px;
}

#first .row div:last-child {
    min-height: 600px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}


#second .row {
    min-height: 700px;

}


#second .row div:first-child {
    min-height: 700px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;

}

#third .row {
    min-height:650px
}

#third .row div:first-child {
    min-height: 650px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    
}


#third .row div:last-child {
    min-height: 650px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white
}

p {
    margin-left: 30px;
    font-size: 20px;
}

.jumbotron {
    margin-bottom: 0px;
    height: 170px;
    
}




#footer {
    text-align: center;
    color: #333;
}
